/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

#Beach{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("https://traversymedia.com/downloads/assets/beachshowcase.jpg");
    background-repeat: round;
}

h1 {
    color:#5E2726ff;
    font-size:2.9em;
    padding: 10px 0px;
}

#Beach p{
    color:#5E2726ff;
    padding: 5px 0px;
    font-size:1em;
}

.button{
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    background-color: none;
    text-decoration: none;
    color:#5E2726ff;
    border-color: #5E2726ff;
    position: relative;
    top: 15px;
    transition: background-color 199ms;
}

.button:hover, button:focus{
    background-color: #5E2726ff;
    color: white;
    transform: translateY(-5px);
}

#section-a{
    background-color: #7f5539;
    padding:20px 0;
    color: white;
}

#section-a p{
    text-align: center;
    transform: scale(0.96);
}

#section-b{
    padding:20px 0;
}

#section-b p{
    text-align: center;
    transform: scale(0.96);
    color: #5E2726ff;
}

#section-c {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lorem1{
    display: flex;
    flex-direction: column;
    white-space: normal;
    text-align: center;
    margin-right: 50px;
    padding: 30px 0;
    transform: scale(1);
    background-color: #7f5539;
    color: white;
    line-height: 20px;
}

.lorem2{
    color: #5E2726ff;
    text-align: left;
    margin-left: -5px;
    line-height: 20px;
    margin-left: -25px;
    padding: 30px 0px;
}

.lorem3{
    display: flex;
    flex-direction: column;
    white-space: normal;
    text-align: center;
    margin-left: 5px;
    padding: 30px 0;
    transform: scale(1);
    background-color: #7f5539;
    color: white;
    line-height: 20px;
}

@media (max-width: 900px){
    .heading{
       font-size: 4em;
       text-align: center;
       flex: column;
    }

    .paragraph{
        font-size: 2em;
        text-align: center;
        flex-direction: colum;
    }
}
